@import "./global";
@import "./variables";

header{
    margin: $margin;
    .ori{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img{
        width: 50%;
    }
    }
    ul{
        display: flex;
    }
    li{
        padding-right: 10px;
        a{
            color: white;
        }
    }
    .head-image{
        align-items: center;
        padding: $padding;
        img{
        width: 100%;}
    }
    @media screen and (max-width:425px) {

            li{
                padding-right: 5px ;
            }
        }
        
    }
main{
    background-image: url(/images/bg-curvy-desktop.svg);
    background-position: center center;
    height: 100%;
    background-repeat: no-repeat;

    .texty{
        text-align: center;
        h4{
            font-size: 1.8rem;
            font-weight: 500;
        }
        p{
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
        }

        a{
            padding: 2vh 5vw;
            background-color: rgb(0, 132, 255);
            // border: 1px solid  rgb(0, 132, 255);
            border-radius: 8%;
        }
    }

}
.grid{
    display: grid;
    grid-gap: 3%;
    grid-template-columns: auto auto;
    margin-top: 10%;

    @media screen and (max-width:600px) {
        grid-template-columns: auto;
        
    }

}