* {
  background-color: #02020f;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

header {
  margin: 2vh 5vw;
}

header .ori {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .ori img {
  width: 50%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  padding-right: 10px;
}

header li a {
  color: white;
}

header .head-image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 20%;
}

header .head-image img {
  width: 100%;
}

@media screen and (max-width: 425px) {
  header li {
    padding-right: 5px;
  }
}

main {
  position: absolute;
  background-image: url(/images/bg-curvy-desktop.svg);
  background-position: center center;
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
}

main .texty {
  text-align: center;
}

main .texty h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

main .texty p {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

main .texty a {
  padding: 2vh 5vw;
  background-color: #0084ff;
  border-radius: 8%;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 3%;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: 15%;
}

.grid div {
  padding: 5%;
}

@media screen and (max-width: 600px) {
  .grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.flecs {
  margin: 2vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flecs a {
  color: #0a9779;
  border-bottom: 1px solid #0a9779;
}

.flecs img {
  width: 100%;
  height: 100%;
}

.flecs div {
  padding: 7%;
}

.flecs .text-area {
  text-align: justify;
  margin: 5%;
}

.flecs .text-area h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

.flecs .text-area p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

@media screen and (max-width: 600px) {
  .flecs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.round-border .one {
  height: 50%;
}

.round-border .three {
  height: 50%;
}

.round-border img {
  width: 50%;
  border-radius: 50%;
}

.round-border div {
  width: auto;
}

.box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47%;
  height: 30%;
  padding: 1vh 2vw;
  margin: 0 30% 0 30%;
  text-align: center;
  background-color: #252525;
  border-radius: 5%;
  position: relative;
  top: 100px;
  z-index: 3;
}

.box h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2;
  background-color: #252525;
}

.box p {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-color: #252525;
}

.white-click {
  background-color: white;
  padding: 1vh 2vw;
  border-radius: 25%;
  color: black;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .white-click {
    width: 10px;
    line-height: 3;
  }
}

.blue-click {
  background-color: #0a9779;
  padding: 1vh 1vw;
  border-radius: 30%;
  color: black;
  padding: 5px;
}

footer {
  margin: 2vh 5vw;
  position: relative;
  width: 80%;
  z-index: 1;
}

footer img {
  width: 20%;
}

footer .tiny img {
  width: 10%;
}
/*# sourceMappingURL=index.css.map */